<div class="head">
  <div class="hearderContent">
      <div>
          <img src="../../../assets/education.png" alt="logo">
      </div>
      <span class="Title">Bookstore</span>
  </div>
</div>
<div class="main">
  <h2 class="hTag">Forgot Your Password?</h2>
  <mat-card class="mainCard">
      <div class="SpaceAroundMatcard">
          <div class="InsideCard">
              <mat-card-title>
                  <h3>Enter your email address and we'll send you a link to reset your password.</h3>
              </mat-card-title>
              <form [formGroup]="ForgotPasswordForm">
                  <div>
                      <mat-form-field>
                          <label>Email</label>
                          <input matInput formControlName='email' >
                          <mat-error>{{EmailValidation()}}</mat-error>
                      </mat-form-field>
                  </div>
                  <div>
                      <button mat-stroked-button (click)=" ForgotPassword()">Reset Password</button>
                  </div>
              </form>
          </div>
      </div>
      <div class="last">
          <div class="lastbelow">
              <a>Create Account</a>
          </div>
      </div>
  </mat-card>
</div>