    <div class="OrderPlace-Main"> 
        <div class="OrderPlace-Image">
            <img src="../../../assets/OrderPlaced.jpg" width="70%" height="60%">
        </div>
        <div class="OrderPlace-Text">
            <p class="OrderPlace-SubText">hurry!!! your order is confirmed</p>
            <p class="OrderPlace-SubText">the order id is #876543 save the order id for</p>
            <p class="OrderPlace-SubText">further communication..</p>
        </div>
        
        <div class="OrderPlace-Table-Main">
            <div class="OrderPlace-Table">
                <table >
                    <tr>
                      <th style="width:5%; padding: 2%;">Email us</th>
                      <th style="width:5%;padding: 2%;">Contact us</th>
                      <th style="width:10%;padding: 2%;">Address</th>
                    </tr>
                    <tr class="rowHight">
                      <td>sanju123@gmail.com</td>
                      <td>+91 9975264008</td>
                      <td>Margao,South Goa-403707</td>
                    </tr>
                </table>
            </div>

        </div>
        <div>
            <div class="OrderPlace-button-Main">
                <button mat-flat-button style="background-color: #3371B5; font-family: Roboto; color: white;"(click)="GoToHome()">CONTINUE SHOPPING</button>
            </div>
        </div>
        <!-- <div class="footer">
  <div class="footer-content">
    <p>Copyright © 2020, Bookstore Private Limited. All Rights Reserved</p>
  </div> -->
</div>
