// .card{
//     top: 145px;
//     left: 171px;

//     width: 235px;
//     height: 275px;

// background: #FFFFFF 0% 0% no-repeat padding-box;
// background-color: #f5f5f5f1;

// border: 1px solid #E2E2E2;
// border-radius: 3px;
// opacity: 1;
// }


// .container {
//     margin: 70px 100px;
//  }



// .content{
//     top: 145px;
// //     left: 171px;
// //     width: 235px;
// //     height: 275px;

// background: #FFFFFF 0% 0% no-repeat padding-box;
// background-color: #f5f5f5f1;

// border: 1px solid #E2E2E2;
// border-radius: 3px;
// opacity: 1;
// }

// .priceDiscount {
//     font-size      : 15px;
//     text-decoration: line-through;
//     color : #878787;
//  }



.card {
   height       : 275px;
   width        : 235px;
   background   : #FFFFFF 0% 0% no-repeat padding-box;
   border       : 1px solid #E2E2E2;
   border-radius: 3px;
   opacity      : 1;
   padding-top  : 0px;
   cursor       : pointer;
}

.book_img {
   height: 135px;
   width : 87px;
}

.book_img_div {
   display         : flex;
   align-items     : center;
   justify-content : center;
   height          : 172px;
   background-color: #F5F5F5;
   margin-left     : -16px;
   margin-right    : -16px;
   margin-top      : -16px;
}

.discount_price {
   font-size      : 10px;
   text-decoration: line-through;
   color          : #878787;
}

.book_price {
   color    : #0A0102;
   font-size: 12px;
}

.book_rating {
   background-color: #388E3C;
   border-radius   : 2px;
   display         : flex;
   flex-direction  : row;
   align-items     : center;
   justify-content : space-evenly;
   width           : 33px;
   height          : 16px;
}

.body {
   display      : flex;
   flex-flow    : row wrap;
   box-sizing   : border-box;
   place-content: center;
   align-items  : center;
   gap          : 40px;
}

.container {
   margin: 70px 100px;
}

.book_num {
   display       : flex;
   align-items   : baseline;
   flex-direction: row;
   gap           : 6px;
}

::ng-deep {
   .tooltip {
      background: #555252 !important;
      margin-top: -130px !important;
   }
}
